{% extends 'layout.html' %}
{% block content %}
<!-- Begin page content -->   
   {% if employees %}
   <br>
      <div class="row row-cols-2">
        <div class="col">
         <h1>Employees</h1>
        </div>
        <div class="col"> 
           <a href="/employee" class="btn btn-dark float-right" role="button">Create</a>
        </div>
      </div>
      
      {% if message %}
         <div class="alert alert-success" role="alert">
            {{ message }}
         </div>
      {% endif %}
   <div class="table-responsive">
     
      <table class="table table-striped">
         <tr>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Age</th>
            <th scope="col">Salary</th>
            <th scope="col">Designation</th>
            <th scope="col">Actions</th>
         </tr>
         {% for e in employees %}
            <tr>
               <td>{{ e.FirstName }}</td>
               <td>{{ e.LastName }}</td>
               <td>{{ e.Age }}</td>
               <td>{{ e.Salary }}</td>
               <td>{{ e.Designation }}</td>
               <td><a href="/employee/edit/{{ e.ID }}">
                  <i class="fas fa-edit"></i>
                  </a>
               </td>
            </tr>
         {% endfor %}
      </table>
   </div>
   {% endif %}
{% endblock %} 
