<!doctype html>

<head>
    <title>Hello from Flask edited</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
</head>

<body>
  <!-- HTML PAGE CONTENT -->
  <!-- Jinja template syntax --> 
    {% if message %}
    <p>{{message }}</p>
    {% endif %}
    <div id="parent">
     
       <form action="{{ url_for('create_user')}}" method="POST" id="form_login">
        <h2>Login</h2>  
        <label for="fname">username:</label><br>
          <input type="text" id="username" name="username"><br>
          <label for="lname">Password:</label><br>
          <input type="password" id="password" name="password"><br><br>
          <input type="submit" value="Submit">
        </form> 
   </div>
</body>

</html>
